table {
   border-spacing: 0px;

}

tr:nth-child(odd) {

}

td {
   text-align: center;
   padding: 12px;
   color: rgba(0,0,0,0.7)
}

div {
    border: 1px solid gray;
    background-color: #D3D3D3;
    padding: 3px 1px;
}